.footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer span {
    margin: 8px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
}